<div>
    <div>
        <form class="form1"  [formGroup] = 'loginForm' (ngSubmit)="loginsubmit()">
         
            <div class="heading">Login Here</div>
           
            <div class="">
                <label class="formlabel">Name</label><br>
                <input class="forminput" type="text" formControlName="name" id="name" placeholder="Enter your Name">
            </div>
            <div>
                <label class="formlabel">Email</label><br>
                <input class="forminput" type="email" formControlName="email" id="email" placeholder="Enter your Email">
            </div>
            <div>
                <label  class="formlabel">Password</label><br>
                <input class="forminput" formControlName="password" type="password" id="password" placeholder="Enter your Password">
            </div>
            <button type="submit" class="button1">Submit</button>
        </form>
    </div>
</div>
