<div class="card_container">
     <div class="card2" *ngFor="let product of products">
        <div class="card2_menu"> 
            <div><br>
        <div class="card_menu3" >
            <div class="item5">32$  </div><br>
            <div class="item6">{{product.name}}<br>All kinds Product is available<br>All kinds Product is available</div><br>
            <div class="item7">30 day free trial</div><br>
           <button class="item8" (click)="registerproduct(product)">UPGRADE</button><br>
         </div>
     </div>
   </div> 
</div>
